<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>RESERVATION.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AB1A52571F481BC600DD483A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB1A526B1F481BC600DD483A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AB1A52761F481BC600DD483A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
